body {
  background-color: #376249;
}
.test {
  margin: 20px;
  border: 3px solid #004d00;
  padding: 10px;
  background-color: #79AD8B;
  width: 80%;
}
.total {
  margin: 20px;
  border: 3px solid #004d00;
  padding: 10px;
  background-color: #79AD8B;
  width: 20%
}
form{
  margin: 20px;
  background-color: #EBA765;
  border: 3px solid;
  border-color: #4c331a;
  padding-left: 10px;
  padding-top: 2px;
  width: 30%;
}
aside {
  background-color: #EBA765;
  border: 5px solid;
  border-color: #4c331a;
  padding-left: 10px;
  padding-top: 2px;
  width: 190px;
  height: 700px;
}
th {
  margin: 5px;
  padding: 10px;
}
td {
  padding: 10px;
}
header {
  padding: 3px;
  align-self: 500px;
  text-align: center;
  font-size: 200%;
  font-weight: bolder;
  width: 500px
}
.orange {
  background-color: #D06A17;
}
article {
  width: 500px;
  padding: 2px;
}
