body {
  background-color: #376249;
}
.mission {
  background-color: #EBA765;
  border: 5px solid;
  border-color: #4c331a;
}
.campfire {
  width: 50%;
}
.jug{
  width: 30%;
  float: right;
}
.navpad {
  padding: 20px;
}
.table {
  margin: 20px;
  border: 3px solid #004d00;
  padding-left: 10px;
  background-color: #79AD8B;
  width: 80%;
}
.total {
  margin: 20px;
  border: 3px solid #004d00;
  padding: 10px;
  padding-left: 10px;
  background-color: #79AD8B;
  width: 30%
}
.block1 {
  display: inline;
}
.navbar {
  display: inline;
}
.italic {
  font-size: 20px;
  font-style: italic;
}
form{
  margin: 20px;
  background-color: #EBA765;
  border: 3px solid;
  border-color: #4c331a;
  padding-left: 10px;*/
  padding-top: 2px;
  width: 30%
}
.logo {
  background-color: #EBA765;
  float: left;
  width: 20%;
  padding-right: 20px:
}
.hourlyLoc {
  margin: 20px;
  background-color: #D06A17;
}
.beanLoc {
  margin: 20px;
  background-color: #D06A17;
}
aside {
  float: right;
  background-color: #EBA765;
  border: 5px solid;
  border-color: #4c331a;
  padding-left: 10px;
  padding-top: 2px;
  width: 220px;
  height: 500px;
}
th {
  margin: 5px;
  padding-left: 5px;
}
td {
  padding: 5px;
}
header {
  padding: 3px;
  text-align: center;
  font-size: 200%;
  font-weight: bolder;
}
.orange {
  background-color: #D06A17;
  width: 50%;
}
article {
  width: 500px;
  padding: 2px;
}
